.notification-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.notification-mark-reading {
  margin-bottom: 10px;
}

.createdAt {
  font-size: 12px;
  color: grey;
}
